# Dipendenze
/vendor/
/node_modules/

# File generati dalla build
/public/build/

# File di cache e log di Symfony
/var/

# File di configurazione locale con segreti
.env.local
.env.*.local
.env.dev


# File caricati dagli utenti (se usi lo storage locale)
/public/uploads/
